{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block content %}

<div class="auth-page">
<div class="auth-container">
<div class="auth-card"> 

<div class="form-panel active">
  <div class="form-header">
  <h2>Create Event</h2>
  </div>    

<form method="POST" action="{{ url_for('create_event') }}">

  <div class="form-group">
  <label>Title</label>
  <div class="input-wrap">
  <input type="text" name="title" required>
  </div>
  </div>

  <div class="form-group">
  <label>Description</label>
  <textarea name="description"></textarea>
  </div>

  <label>Date and Time</label>
  <input type="datetime-local" name="date" required>

  <label>Location</label>
  <input type="text" name="location" required>

  <label>Max Participants</label>
  <input type="number" name="max_participants" min="1">

  <label>Category</label>
  <select name="category_id" required>
    {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
  </select>

  <button type="submit">Create Event</button>
</form>
</div>
</div>
</div>
</div>
{% endblock %}

{% block extra_css %}
{% endblock %}